<<<<<<< HEAD
<% title @post.title %>
=======
<h1><% title @post.title %></h1>
>>>>>>> 39b9dd5341f1b9b3f2574fe087a89a2b49383c3f
 
<h1><%= @post.title %></h1>
<p><%= last_updated @post %></p>
<p><%= @post.description %></p>